*/Eigen/
*/build/
*/log/
*/dist/
*/.dep.inc
*/*.asv
*/nbproject/*.mk
*/nbproject/*.bash
*/nbproject/*.properties
*/nbproject/private/*.mk
*/nbproject/private/*.c
*/nbproject/private/*.cpp
*/nbproject/private/*.properties
*/nbproject/private/private.xml